@import '../core/variables';

.country-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $color-gray;
  cursor: pointer;
  transition: all 0.3s;

  svg {
    display: none;
    position: absolute;
    right: 0;
    top: 10px;
    height: 30px;
    width: 50px;
    color: $color-main;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      color: $color-gold;
    }

    &:active {
      transform: scale(0.9);
    }

    &.is-favorite {
      display: block;
      color: $color-gold;
    }
  }

  &:hover {
    transform: scale(1.03);
    border: 1px solid $color-main;

    svg {
      display: block;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .image-container {
      position: relative;
      width: 190px;
      height: 120px;
      margin-bottom: 15px;

      .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-gray;
        border-radius: 10px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        color: $color-gray;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;

      span {
        font-weight: 500;
      }
    }
  }
}
