@import '../core/variables';

.country-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 10px;
      margin-bottom: 30px;

      button {
        background-color: $color-main;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-size: 24px;
        color: $color-white;

        &:hover {
          transform: scale(1.1);
        }
      }

      h1 {
        font-size: 48px;
        font-weight: 400;
      }

      svg {
        width: 50px;
        height: 50px;
        color: $color-main;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          color: $color-gold;
        }

        &:active {
          transform: scale(0.9);
        }

        &.is-favorite {
          color: $color-gold;
        }
      }
    }

    .info {
      display: grid;
      margin: 30px 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;

      &-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        max-width: 300px;
        padding: 20px;
        font-size: 24px;
        text-align: center;
        border: 1px solid $color-main;
        border-radius: 10px;

        span {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }

    img {
      width: 425px;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .neighbors {
      display: flex;
      gap: 10px;
    }

    p,
    .neighbors {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 20px;

      span {
        font-weight: bold;

        &.none {
          font-weight: 400;
        }
      }

      a {
        color: $color-main;
        text-decoration: none;
        padding: 0 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
