@import '../core/variables';

.dropdown-wrapper {
  position: relative;
  width: 100px;

  &.dark-theme {
    div {
      background-color: $color-black;
    }
  }

  button {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid $color-gray;
    cursor: pointer;
  }

  button:hover {
    border-color: $color-main;
  }

  div {
    position: absolute;
    border-radius: 10px;
    border: 1px solid $color-gray;
    background-color: $color-white;
    margin-top: 10px;
    z-index: 1;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        cursor: pointer;

        &.active-item {
          color: $color-main;
        }

        &:hover {
          color: $color-main;
        }
      }
    }
  }

  div[show] {
    display: block;
  }
}
