@import '../core/variables';

.search {
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid $color-gray;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $color-main;
      outline: none;
    }
  }
}
